*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    
}

body{
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.card-container {
    margin: auto;
    display: grid; /* Use "grid" em vez de "inline-grid" */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap:50px;
    position: relative;
    padding-top:30px;
    text-align: center;
    padding: 70px;
}

.card-container2{
    margin: auto;
    display: grid; /* Use "grid" em vez de "inline-grid" */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:50px;
    position: relative;
    padding-top:30px;
    text-align: center;
    padding: 70px;
}
.card-container3{
    margin: auto;
    display: grid; /* Use "grid" em vez de "inline-grid" */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap:50px;
    position: relative;
    padding-top:30px;
    text-align: center;
    padding: 70px;
}
.card-container4{
    margin: auto;
    display: grid; /* Use "grid" em vez de "inline-grid" */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap:50px;
    position: relative;
    padding-top:30px;
    text-align: center;
    padding: 70px;
}

#first-container{
    background-color: #193B3A;
    width: 55%;
    border-radius: 50px;
}       
p{
    color: #777989;
    font-size: 11px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.valor{
    text-decoration: line-through;
}
.preco{
    font-size: 20px;
}
#h1 {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255); /* Adiciona uma cor para o texto do h1 */
    padding-top: 40px;
}
.card{
    background-color: #F5EAD3;
    border-radius: 20px;
    text-align: center;
}
.card img{
    max-width: 100%;
    height: auto;
    border-radius: 17px;
}
/* .card-container{
    padding: 70px;
} */
.card-container h2{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}
.card-content{
    color: #222;
    
}
.bnt{
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    
}
.btn{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #26BA2C;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 14px;
}
.btn:hover{
   text-align: center; 
}
@media screen and (max-width: 800px){
    .card_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px){
    .card_container{
        grid-template-columns: 1fr;
    }
}