*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    
}

body{
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.card-container {
    margin: auto;
    display: grid; /* Use "grid" em vez de "inline-grid" */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap:50px;
    position: relative;
    padding-top:30px;
    
}

#first-container{
    background-color: #193B3A;
    width: 55%;
    border-radius: 120px;
}

#h1 {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255); /* Adiciona uma cor para o texto do h1 */
    padding-top: 40px;
}
#h1seg {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255); /* Adiciona uma cor para o texto do h1 */
    padding-top: 40px;
}
.card{
    background-color: #F5EAD3;
    border-radius: 20px;
    text-align: center;
}
.card img{
    max-width: 100%;
    height: auto;
    border-radius: 17px;
}
.card-container{
    padding: 70px;
}
.card-container h2{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}
.card-content{
    color: #222;
    
}
.bnt{
    padding-bottom: 10px;
    padding-top: 10px;
}
.btn{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #26BA2C;
    border-radius: 25px;
    color: white;
}
@media screen and (max-width: 800px){
    .card_container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px){
    .card_container{
        grid-template-columns: 1fr;
    }
}