#container{
    display: flex;
    /* gap: 20px; */
    /* flex-direction: column; */
    flex-wrap:wrap-reverse;
    justify-content: space-evenly;
    border: 1px solid black;
    align-items: stretch;
    height: 15vh;
    border-radius: 2px;
}
.item{
    border: solid 1px black;
    background-color: rgb(182, 182, 182);
    width: 60px;
    /* height: 50px; */
    text-align: center;  
    transition: all 0.5s;
    
}

.item:hover{
    transform: scale(1.9);
}

.div1{
    order: 1;
}
.div2{
    order: 2;
}
